/** Styles for header */
#header {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: $FSRed;
}

.home-link {
    margin-top: 0;
    margin-bottom: 0;
    a {
        text-indent: -9999px;
        background: url("assets/FSVD-TextLogo-Light.svg") no-repeat;
        overflow: hidden;
        display: block;
        background-position: center;
        line-height: min(20vw, 10rem);
    }
}