/** Tiles styling */

.tiles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include screen-greater-than(tablet) {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto;
        justify-content: space-between;
        padding: 0 3%;
    }
}
.tile {
    width: 350px;
    height: 350px;
    border-radius: $borderRadius;
    background-color: #ffffff;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
    padding: 1.75rem;
    margin-bottom: 0.85rem;
    border: 1px solid #000000;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    h3 {
            color: $FSWhite;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 1.5rem 0.25rem;
    }
}